      * {
          margin: 0;
          padding: 0;
      }

      body {
          background-color: #028090;
          font-family: sans-serif;

          justify-content: center;
          align-items: center;
      }




      @media only screen and (min-width: 300px) {
          .box {
              height: 50px;
              width: 50px;
              background-color: #E4FDE1;
              border-radius: 15px;
              margin: 2px;
              font-size: 20px;
              font-weight: bold;
              /* padding: 20px; */
              text-align: center;
          }

          #newGame {

              text-align: center;
              justify-content: center;
              padding: 20px;
              margin-top: 150px;
              color: white;
              background-color: #114B5F;
              border: 3px dashed white;
              border-radius: 15px;
              cursor: pointer;
              font-size: 15px;
              font-weight: bold;


          }

          .header {
              color: white;
              font-weight: bold;
              font-size: 45px;
              margin-top: 30px;
              text-align: center;

          }

      }


      @media only screen and (min-width: 768px) {
          .box {
              height: 100px;
              width: 100px;
              background-color: #E4FDE1;
              border-radius: 15px;
              margin: 2px;
              font-size: 35px;
              font-weight: bold;
              padding: 20px;
              text-align: center;
          }

          #newGame {

              text-align: center;
              justify-content: center;
              padding: 20px;
              margin-top: 300px;
              color: white;
              background-color: #114B5F;
              border: 3px dashed white;
              border-radius: 15px;
              cursor: pointer;
              font-size: 25px;
              font-weight: bold;


          }

          .header {
              color: white;
              font-weight: bold;
              font-size: 50px;
              margin-top: 20px;
              text-align: center;



          }
      }

      .tic {
          color: green;


      }

      .tac {
          color: #F45B69;

      }


      .box :hover {
          background-color: none;
          border: none;
      }

      .Winner {

          background-color: white;

      }



      .container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
      }


      .game {
          height: 10vmin;
          width: 60vmin;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 1.5vmin;
      }



      #newGame:hover {


          background-color: white;
          color: #114B5F;
      }

      .grid-container {
          display: grid;
          grid-template-columns: auto auto auto;
          padding: 10px;
      }
